<h3>Exercise 1: Create a Jupyter Notebook<h3>

<p>I created a new Jupyter notebook called DataScienceEcosystem.ipynb<p>

<h3>Exercise 2: Create markdown cell with title of the notebook<h3>

<h1>Data Science Tools and Ecosystem<h1>

<h3>Exercise 3 - Create a markdown cell for an introduction<h3>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>
   <strong>Objectives:</strong>
    <ul>
        <li>List popular languages that Data Scientists use.</li>
        <li>List commonly used libraries used by Data Scientists.</li>
        <li>Comment on Data Science tools.</li>
   </ul>

<h3>Exercise 4 - Create a markdown cell to list data science languages<h3>

<p>Some of the popular languages that Data Scientists use are:<p>
    <ol>
        <li>R</li>
        <li>python</li>
        <li>SQL</li>
        <li>Java</li>
        <li>Julia</li>
        <li>Javascript</li>
        <li>c</li>
        <li>c++</li>
        <li>scala</li>
      </ol>

<h3>Exercise 5 - Create a markdown cell to list data science libraries<h3>

<p>Some of the commonly used libraries used by Data Scientists include:<p>
    <ol>
        <li>Pandas</li>
        <li>Keras</li>
        <li>TensorFlow</li>
        <li>Matplotlib</li>
        <li>NumPy</li>
        <li>Scrapy</li>
        <li>PyTorch</li>
        <li>ScaPy</li>
        <li>Ramp</li>
        <li>Pipenv</li>
        <li>Caffe2</li>
        <li>NuPic</li>
        <li>Scikit-Learn</li>
        <li>Eli5</li>
        <li>Chainer</li>
        <li>Theano</li>
        <li>BeautifulSoup</li>
        <li>PyBrain</li>
        <li>Bob</li>
        <li>LightGBM</li>
        </ol>

<h3>Exercise 6 - Create a markdown cell with a table of Data Science tools<h3>

<p>Data Science Tools:<p>
    <table  style=\width:50%\>
     <tr>
        <th>Data Science Tools</th>
      </tr>
      <tr>
        <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
      </tr>
      <tr>
        <td>Apache Spark</td>
      </tr>
      <tr>
        <td>BigML</td>
      </tr>
    </table>

<h3>Exercise 7 - Create a markdown cell introducing arithmetic expression examples<h3>
    <h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [17]:
# Arithmetic Expressions
x = 40
y = 12
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print(add)
print(sub)
print(pro)
print(div)

52
28
480
3.3333333333333335

In [18]:
# Relational Expressions
a = 21
b = 13
c = 40
d = 37
  
p = (a + b) >= (c - d)
print(p)

True

<h3>Exercise 8 - Create a code cell to multiply and add numbers<h3>

In [19]:
#This a simple arithmetic expression to mutiply then add integers
x=3
y=4
z=5
m=(x*y)+z
print(m)

17

<h3>Exercise 9 - Create a code cell to convert minutes to hours<h3>

In [20]:
#This will convert 200 minutes to hours by diving by 60.
#1hour=60 mint
mint=200
all_hour=200/60
print( str(all_hour) + " hours")

3.3333333333333335 hours

<h3>Exercise 10 - Insert a markdown cell to list Objectives<h3>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>
   <strong>Objectives:</strong>
    <ul>
        <li>List popular languages that Data Scientists use.</li>
        <li>List commonly used libraries used by Data Scientists.</li>
        <li>Comment on Data Science tools.</li>
   </ul>

<h3>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.<h3>

<h2>Author:</h2> Suhaila Abdulah